 ---
 ---

<section id="goal-section" class="min-h-screen bg-gray-50 p-3 sm:p-6 md:p-8 pt-0 sm:pt-0 md:pt-0 transition-all duration-300">
    
    <script src="@/scripts/Dashboard/Goals/main.js" />
</section>