---
import Layout from '@/layouts/Base.astro';
import GenericTile from '@/components/General/GenericTile.astro';
export const prerender = true;
import AP1 from '@/assets/AboutPage/about-page-1.jpg';
---
<Layout>
    <main class="pt-20"/>
    <div class="p-4">
        <GenericTile 
        title="About Us"
        description="As a small team of students who have gone through financial trouble and seen friends struggle with their finances, we knew we had to find the solution they had all been looking for. After a long time developing our computer science skills, we present our financial tracker and budgeting app: Finance Bros."
        img={AP1}
        />
    </div>
</Layout>
