---
export const prerender = false;
import { hasOnboarded } from '../../lib/auth/hasOnboarded';
import Layout from '../../layouts/DashboardLayout.astro';
import DashboardNav from '../../components/DashboardComps/DashboardNav.astro';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const [user, onboarded] = await hasOnboarded(token);

if (!user) {
  return redirect('/login/sign-in');
}
if (!onboarded) {
  return redirect('/login/onboarding');
}
---

<Layout title="Account">
  <form action="/api/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <DashboardNav />
</Layout>
