---
export const prerender = false;
import { hasOnboarded } from '../../lib/auth/hasOnboarded';
import Layout from '../../layouts/DashboardLayout.astro';
import DashboardNav from '../../components/DashboardComps/DashboardNav.astro';
import RecentTransactions from '../../components/DashboardComps/RecentTransactions.astro';
import DashboardDepositTile from '../../components/DashboardComps/DashboardDepositTile.astro';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const [user, onboarded] = await hasOnboarded(token);

if (!user) {
  return redirect('/login/sign-in');
}
if (!onboarded) {
  return redirect('/login/onboarding');
}
---

<Layout>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <RecentTransactions
      title="Purchases"
      refreshInterval={30000}
    />
    <DashboardDepositTile
      title="Deposits"
      apiEndpoint="/api/user/fetch/deposits"
      chartType="list"
      refreshInterval={30000}
    />
  </div>
  <DashboardNav />
</Layout>