---
export const prerender = false;

import { hasOnboarded } from '@/lib/auth/hasOnboarded.ts';
import Layout from '@/layouts/Dashboard.astro';
import Navigation from '@/components/Dashboard/Navigation.astro';
import RecentTransactions from '@/components/Dashboard/RecentTransactions.astro';
import PieChart from '@/components/Dashboard/PieChart';
import Header from '@/components/Dashboard/Accounts.astro';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const [user, onboarded] = await hasOnboarded(token);

if (!user) {
  return redirect('/login/sign-in');
}
if (!onboarded) {
  return redirect('/login/onboarding');
}
---

<Layout>
  <Header />
  <div class="pt-4 px-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <RecentTransactions title="Purchases"/>
    <PieChart client:load />
  </div>

  <Navigation />
</Layout>