---
export const prerender = false;

import { hasOnboarded } from '@/lib/auth/OnboardStatus';
import Layout from '@/layouts/Dashboard.astro';
import Navigation from '@/components/Dashboard/Navigation.astro';
import RecentTransactions from '@/components/Dashboard/RecentTransactions.tsx';
import PieChart from '@/components/Dashboard/PieChart';
import Accounts from '@/components/Dashboard/Accounts.tsx';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const [user, onboarded] = await hasOnboarded(token);

if (!user) {
  return redirect('/login/sign-in');
}
if (!onboarded) {
  return redirect('/login/onboarding');
}
---

<Layout ClassName="bg-gradient-to-br from-blue-50 to-indigo-100">
  <Accounts client:load />
  <div class="pt-4 px-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <RecentTransactions client:load/>
    <PieChart client:load />
  </div>

  <Navigation />
</Layout>