---
export const prerender = false;
import { verifyToken } from '../api/verify-token';
import Layout from '../../layouts/DashboardLayout.astro';
import DashboardNav from '../../components/DashboardComps/DashboardNav.astro';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const user = await verifyToken(token);

if (!user) {
  return redirect('/login/sign-in');
}
---

<Layout title="Purchases">
  <main class="pt-20"/>
  <head><title>Purchases</title></head>
  <DashboardNav />
</Layout>
