---
export const prerender = false;
import { hasOnboarded } from '@/lib/auth/OnboardStatus';
import Layout from '@/layouts/Dashboard.astro';
import Navigation from '@/components/Dashboard/Navigation.astro';
import Accounts from '@/components/Dashboard/Accounts.tsx';
import { TransactionManager } from '@/components/Dashboard/Transactions/Transactions.tsx';

const { cookies, redirect } = Astro;
const token = cookies.get('token')?.value;

const [user, onboarded] = await hasOnboarded(token);

if (!user) {
  return redirect('/login/sign-in');
}

if (!onboarded) {
  return redirect('/login/onboarding');
}
---

<Layout title="Purchases">
  <div class="bg-indigo-100">
  <Accounts client:load />
  <TransactionManager client:load/>
  <main class="pb-24" />
  <Navigation />
</div>
</Layout>
