---
import Layout from '../layouts/BaseLayout.astro';
import GenericTile from '../components/GenericTile.astro';
export const prerender = true;
import AP1 from '../assets/AboutPage/about-page-1.jpg';
---
<Layout>
    <main class="pt-20"/>
    <div class="p-4">
        <GenericTile 
        title="About Us"
        description="We are a team of four people who are passionate about computer science. This app is a project meant to assist people with their finances."
        img={AP1}
        />
    </div>
</Layout>
