---
import Layout from '../layouts/Base.astro';
import GenericTile from '@/components/General/GenericTile.astro';
import MM1 from '@/assets/MainMenu/Main-Menu-1.jpg';
import MM2 from '@/assets/MainMenu/Main-Menu-2.jpg';
export const prerender = true;
---
<Layout>
    <div class="bg-blue-50">
      <main class="pt-20" />
      
      <div class="flex flex-col">
        <div class="p-4 pb-0 height-[50vh]">
          <GenericTile 
            title="A Budgeting Tool for the Modern Age"
            description="Built for the modern age, Finance Bros is a budgeting tool that helps you manage your finances.\n "
            img={MM1}
          />
        </div>
        <div class="p-4">
          <GenericTile 
            title="Made by bros for bros"
            description="Handles your finances with ease"
            img={MM2}
            imgAlign="right"
          />
        </div>
      </div>
    </div>
  </Layout>
