---
const {
  title,
  description,
  imgAlign = "left",
  imgSrc = "",
} = Astro.props;
---

<div class="flex items-center gap-4 w-full h-screen bg-[#000435] border-2 rounded-xl border-gray-200 shadow-md hover:shadow-lg transition-all p-0">
  {imgSrc && (
    <div class="text-3xl text-blue-600 dark:text-blue-400 pl-45">
      <img src={imgSrc} alt="" class="max-w-128 max-h-128 rounded-xl" />
    </div>
  )}
  <div>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{title}</h3>
    <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{description}</p>
  </div>
</div>
