---
import GlobalStyling from "../styles/global.css"
import NavStyling from "../styles/NavStyling.css"
---
<div>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/login/sign up">Register</a>
</div>