---
import "../styles/global.css"
import "../styles/NavStyling.css"
---
<nav>
  <div class="nav-container">
    <a href="/" id="logo">Finance Bros</a>
    <div class="nav-links">
      <a href="/about/">About</a>
      <a href="/login/sign-up">Register</a>
      <a href="/login/sign-in">Login</a>
    </div>
  </div>
</nav>