---
import Filter from "./Filter.astro";
import EditModal from "./EditModal.astro";
import DeleteModal from "./DeleteModal.astro";

const tableId = "transaction-manager-table";
---

<section id="transaction-section" class="min-h-screen bg-gray-50 p-3 sm:p-6 md:p-8 pt-0 sm:pt-0 md:pt-0 transition-all duration-300">
  <div class="max-w-screen-xl mx-auto">

    <Filter />
    
    <div id={tableId} class="bg-white rounded-xl shadow text-sm mb-6 relative">
      <div class="text-gray-500 p-4">Loading transactions...</div>
    </div>

    <nav id="pagination-wrapper" class="flex justify-center pb-4"></nav>
  </div>

  <EditModal />

  <DeleteModal />

  <script src="../../../scripts/Dashboard/Transactions/main.js"></script>
</section>