---
import Analytics from '@vercel/analytics/astro'
import SpeedInsights  from "@vercel/speed-insights/astro"

import Navigation from "../components/Navigation.astro"
import "../global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<meta name="theme-color" content="#3367D6" />
		<meta name="generator" content={Astro.generator} />
		<title>Finance Bros</title>
	</head>
	<body>
		<script>
			if ('serviceWorker' in navigator) {
			const isLocalhost = location.hostname === 'localhost' || location.hostname === '127.0.0.1';
			const isDevelopment = isLocalhost && (location.port === '3000' || location.port === '4321');
			
			if (!isDevelopment) {
				window.addEventListener('load', () => {
				navigator.serviceWorker.register('/sw.js')
					.then((registration) => {
					console.log('SW registered: ', registration);
					})
					.catch((registrationError) => {
					console.log('SW registration failed: ', registrationError);
					});
				});
			} else {
				navigator.serviceWorker.getRegistrations().then(function(registrations) {
				for(let registration of registrations) {
					registration.unregister();
				}
				});
			}
			}
		</script>
		<SpeedInsights/>
		<Analytics/>
		<Navigation />
		<slot />	  
	</body>
</html>
